[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/gd.hpp"]
	path = libs/gd.hpp
	url = https://github.com/prevter/gd.hpp
[submodule "libs/minhook"]
	path = libs/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "libs/imgui-cocos"]
	path = libs/imgui-cocos
	url = https://github.com/Prevter/gd-imgui-cocos
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json
[submodule "libs/imgui-markdown"]
	path = libs/imgui-markdown
	url = https://github.com/juliettef/imgui_markdown
[submodule "libs/discord-rpc"]
	path = libs/discord-rpc
	url = https://github.com/prevter/discord-rpc
[submodule "libs/cocos-headers"]
	path = libs/cocos-headers
	url = https://github.com/prevter/cocos-headers
